@use "../../../sass/abstracts/_mixins" as mixins
@use "../../../sass/abstracts/_theme" as theme

.postCard
  @include mixins.themify(theme.$theme)
    $widthPercent: 80%
    display: flex
    flex-direction: column
    padding: 15px 0
    margin-bottom: 20px
    padding: 30px 0 20px 0
    justify-content: center
    align-items: center

    background-color: mixins.themed("color-surface-variant")
    border-radius: 5px

    color: mixins.themed("color-on-surface-variant")

    .aboveImage
      width: $widthPercent
      display: flex
      flex-direction: column
      margin-bottom: 10px

      .author
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        gap: 10px
        padding-bottom: 10px

        width: $widthPercent

        .avatar
          border-radius: 50%
          width: 2em
          aspect-ratio: 1

        .authorDetails
          display: flex
          flex-direction: column
          align-items: flex-start
          gap: 3px

          .authorName
            font-weight: 900

          .postTime
            font-size: 0.7em
            font-family: 500

      .caption
        width: $widthPercent

    .postImage
      width: $widthPercent
      background: #fff
      aspect-ratio: 1.777
      object-fit: cover
      border-radius: 5px
      border: 2px solid mixins.themed("color-outline")
      margin-bottom: 10px

    .afterImage
      width: $widthPercent
      display: flex
      justify-content: space-between
      margin: 10px 0

      .svgIcon
        transform: scale(0.95)
        fill: none
        stroke-width: 0.5px
        stroke: mixins.themed("color-outline")

      .likes
        display: flex
        justify-content: flex-start
        align-items: center
        gap: 5px

        .FavoriteIcon
          margin-right: 1px

          &:hover
            cursor: pointer

          &.like
            animation: favoriteAnim 750ms cubic-bezier(0.84, 0, 0.27, 1) 1 forwards

          &.unlike
            animation: favoriteAnim 750ms cubic-bezier(0.84, 0, 0.27, 1) 1 reverse forwards

          &.liked
            fill: red
            stroke: none

          @keyframes favoriteAnim
            0%
              fill: none
              transform: scale(0.95)
              stroke-width: 0.5px
              stroke: mixins.themed("color-outline")
            30%
              transform: scale(0.6)
              stroke: none
              fill-opacity: 80%
            50%
              fill: red
            95%
              transform: scale(1.15)
            100%
              transform: scale(0.95)
              fill: red
              stroke: none

        .noOfLikes
          font-size: 0.8em

      .CommentIcon
        transition: all 750ms ease
        &:hover
          cursor: pointer
        &.show
          stroke-width: 1.5px

    .comments
      width: $widthPercent

      max-height: 0
      transform-origin: top

      overflow: hidden
      transition: all 500ms ease

      display: flex
      flex-direction: column

      &.show
        max-height: 300px
