$light: (
  color-primary: #44680f,
  color-on-primary: #ffffff,
  color-primary-container: #c4f189,
  color-on-primary-container: #102000,

  color-secondary: #586249,
  color-on-secondary: #ffffff,
  color-secondary-container: #dce7c7,
  color-on-secondary-container: #161e0b,

  color-tertiary: #386662,
  color-on-tertiary: #ffffff,
  color-tertiary-container: #bcece7,
  color-on-tertiary-container: #00201e,

  color-error: #ba1a1a,
  color-on-error: #ffffff,
  color-error-container: #ffdad6,
  color-on-error-container: #410002,

  color-background: #fdfcf5,
  color-on-background: #1b1c18,

  color-surface: #fdfcf5,
  color-on-surface: #1b1c18,
  color-surface-variant: #e1e4d5,
  color-on-surface-variant: #44483d,

  color-outline: #75796c,
);
