@use "../../sass/abstracts/theme" as theme
@use "../../sass/abstracts/mixins" as mixins

nav
  @include mixins.themify(theme.$theme)
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

    background-color: mixins.themed("color-surface")
    height: 1.5rem
    padding: 2em

    .link
      color: mixins.themed("color-on-surface")
      text-decoration: none
      font-size: 1rem

    .userProfile
      position: relative
      display: flex
      flex-direction: column
      align-items: flex-end

      img
        border-radius: 50%
        width: 2em

        &:hover
          cursor: pointer

      .userpopup
        position: absolute
        background-color: mixins.themed("color-surface-variant")
        padding: 10px
        top: 40px
        opacity: 0
        visibility: hidden
        transition: all 0.1s ease-in-out 0.1s
        list-style-type: none

        li
          padding: 2px 5px
          cursor: pointer

        span
          color: mixins.themed("color-on-surface-variant")

      &:hover
        .userpopup
          visibility: visible
          opacity: 1
